@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.table-column-nome {
    width: 280px;
}

.table-column-telefone {
    width: 200px;
}

.table-column-cpf {
    width: 200px;
}

.table-column-data-nascimento {
    width: 200px;
}

.table-column-ocupacao {
    width: 180px;
}

.table-column-titulo-eleitoral {
    width: 180px;
}

/* .table-column-acoes {
    width: 100px;
} */